
@{
    ViewBag.Title = "Test";

}

<html>
<head>
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/Scripts/Employee/Employeejs.js"></script>
</head>
<body>
    <p>heelo</p>
    <div class="tbody"></div>
</body>
</html>

